title Chat UI
include ./jade/_tags.jade
+social_tags('ChatUI','擁有許多對話氣泡，讓你輕鬆建立一間聊天室的前端 CSS 框架','og.png','https://earlyspringcommitee.github.io/ChatUIDoc/')
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
// Tocas UI
link(href='./css/tocas.css', rel='stylesheet')
// Chat UI
link(href='https://earlyspringcommitee.github.io/ChatUI/css/ChatUI.css', rel='stylesheet')
// typingCarousel https://codepen.io/gschier/pen/jkivt 
script(src='./js/typingCarousel.js')
// Google Code Prettify 
script(src='https://rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&lang=html')
// Doc
link(href='./css/doc.css', rel='stylesheet')
script(src='./js/doc.js')

//- 標題用模板
mixin bigheader(name,subheader) 
    h2.ts.header(id=name)
        a.anchor(href='#'+name) #
        =name
        block
        span.sub.header=subheader
//- 標題用模板
mixin header(name,subheader) 
    h3.ts.header(id=name)
        a.anchor(href='#'+name) #
        =name
        block
        span.sub.header=subheader
//- 程式碼用模板
mixin code
    .ts.secondary.code.segment
        .ts.top.right.attached.label 原始碼
        <?prettify lang=html linenums=true?>
        block